@use '../../styles/funtions';
@import '../../styles/colors';

.conteiner { // Estilos cada tarjeta de juego
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: $base-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); //Borde difuninado

    img {
        height: 100px;
        @include funtions.center;
    }

    button {
        @include funtions.buttonGeneral(50%, 30px);
    }

    @media screen and (min-width: 768px) {
        height: 250px;

        img {
            width: 100%;
            max-height: 130px;
        }

        button {
            @include funtions.buttonGeneral(70%, 30px);
        }
    }

}