@use '../../styles/funtions';
@import '../../styles/colors';

header { //Estilos del header
    background-color: $base-color;
    color: $red;
    display: flex;
    height: 40px;
    box-shadow: 0px 5px 50px rgba(7, 7, 7, 0.397);

    .logo { //Fondo rojo e imagen
        background-color: $red;
        width: 20%;
        height: 70px;
        margin-left: 5px;
        border-radius: 0px 0px 10px 10px;
        align-items: center;
        display: flex;

        img {
            width: 70%;
            margin: 0 auto;
        }
    }

    nav { // Opciones del header
        width: 80%;
        display: flex;
        margin-right: 8px;

        .search { // Barra de búsqueda
            background-color: $base-color;
            padding: 10px;
            display: flex;
            justify-content: space-between;

            i { //Icono de buscar
                margin-left: 8px;
                color: $red;
                position: absolute; //Posición para que no se salga de la barra de búsqueda
                display: block;
            }

            &_input {
                padding: 2px 38px;
                color: $red;
                border: 0.5px solid $gris;
                border-radius: 5px;
            }
        }

        a{
            text-decoration: none;
            color: $red;

            .link_nav {
                @include funtions.center;
                align-self: center;
                padding: 0px 10px;
                
                i {
                    align-self: center;
                    padding: 10px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) { //Diseño responsive
        height: 60px;

        .logo {
            width: 20%;
            height: 110px;
            margin-left: 20px;
            margin-right: 10%;

            img {
                width: 50%;
            }
        }

        nav {

            margin-right: 20px;

            i {
                align-self: center;
            }

        }
    }


}