@use '../../styles/funtions';
@import '../../styles/colors';

header { //Estilos del header
    width: 100%;
    max-width: 100svw;
    background-color: $base-color;
    color: $red;
    display: flex;
    height: 40px;
    box-shadow: 0px 5px 50px rgba(7, 7, 7, 0.397);

    .logo { //Fondo rojo e imagen
        background-color: $red;
        width: 20%;
        height: 70px;
        margin-left: 5px;
        border-radius: 0px 0px 10px 10px;
        align-items: center;
        display: flex;
        

        img {
            width: 60%;
            margin: 0 auto;
        }
    }

    nav { // Opciones del header

       
        display: flex;
        margin-right: 8px;
        background-color: $base-color;
        justify-content: right;

        .search { // Barra de búsqueda
            background-color: $base-color;
            padding: 10px;
            display: flex;
            justify-content: space-between;

            i { //Icono de buscar
                margin-left: 8px;
                color: $red;
                position: absolute; //Posición para que no se salga de la barra de búsqueda
                display: block;
            }

            &_input {
                padding: 2px 2px 2px 38px;
                color: $red;
                border: 0.5px solid $gris;
                border-radius: 5px;
            }
        }

        a{
            text-decoration: none;
            color: $red;

            .link_nav {
                @include funtions.center;
                align-self: center;
                height: 40px;

                h4{
                    display: none;
                }
                
                i {
                    align-self: center;
                    padding: 10px;
                }
            }
        }
    }

    @media screen and (min-width: 768px) { //Diseño responsive
        height: 60px;

        .logo {
            width: 20%;
            height: 110px;
            margin-left: 20px;
            margin-right: 10%;

            img {
                width: 40%;
            }
        }

        nav {

            margin-right: 20px;
            width: 80%;
            
            .search{
                i {
                    align-self: center;
    
                }
            }

            a{
                text-decoration: none;
                color: $red;
                display: flex;
                align-items: center;
                .link_nav {
                    
                    padding: 6px;

                    h4{
                        align-self: center;
                        display: block;
                        width: 100px;
                    }
                    
                    i {
                        padding: 10px;
                    }
                }
            }

        }
    }


}